#* @implicitly included *#
#* @vtlvariable name="WebPath" type="app.util.Path.Web" *#
#* @vtlvariable name="msg" type="app.util.MessageBundle" *#
#* @vtlvariable name="accounts" type="java.lang.Iterable<app.account.Account>" *#
#* @vtlvariable name="account" type="app.account.Account" *
